.container {
  max-width: 600px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-image {
  width: 60px;
  cursor: pointer;
}

.nav-items > li {
  padding: 10px;
}

.nav-items > li:hover {
  color: red;
  cursor: pointer;
}
.footer {
  background-color: dimgrey;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 3px;
}
